@import "tailwindcss";

@theme {
  --color-background: #121212;
  --color-foreground: #ffffff;
  --color-emerald-500: #10b981;
  --color-emerald-600: #059669;
  --radius-2xl: 1rem;
}

:root {
  --background: var(--color-background);
  --foreground: var(--color-foreground);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}